*{margin: 0; padding: 0; box-sizing: border-box;}


.container, .title-wrap{
    width: 100%; padding: 30px 0; 
    display: flex; justify-content: space-between;
    flex-flow: row wrap;
}

.title{
    width: 500px;
    margin: 0 0 40px; text-align: center; 
    border-radius: 10px;
}
    
.section .inner{width: 100%; margin: 0 auto;}

.wrap{
    display: flex;
    flex-flow: wrap row;
    
}

.wrap .box{
    position: relative;
    width: 40%; margin: 0 30px;
    border: 10px solid #eee; padding: 30px;
    border-radius: 10px;
}

.wrap .box .name::after, .wrap .box .name::after{
    padding: 0 10px; margin-left: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
}

.wrap .box.new .name::after, .wrap .box.new.best .name::before {
    content: 'New';
    background-color: yellow;
}
.wrap .box.best .name::after {
    content: 'Best';
    background-color: tomato;
}
.wrap .box p{margin: 0 0 5px;}

.wrap .box span{background-color: #ddd;}

.wrap .box img{
    width: 25%; height: auto;
    position:absolute;
    right:0;
    bottom:25%;
}

.wrap .box:hover{box-shadow: 0 0 20px #ddd; border-color: transparent;}