*{margin: 0; padding: 0; box-sizing: border-box; color: #fff;}
ul, li, ol{list-style: none;}
a{text-decoration: none;}

/*common*/
main, footer{
    background-color: #040814;
}




/*header*/
.header{width: 100%; margin: 0 auto; padding: 0 5vw;}
.header .nav-pre .nav-list .nav-item > button{max-width: 100%; height: auto; left: 0;}



/*main*/
main{width: 100%; margin: 0 auto;}
.content{width: 100%; padding: 5vw 0; padding: 5vw;}
.item-wrap{width: 100%; display: flex; justify-content: space-around; flex-wrap: wrap;}

.con1{width: 100%; padding: 10vh 5vw;}
.con1 .title-wrap .title{font-size: 32px; text-align: center; margin: 0 0 20px;}
.con1 .item-wrap .item{width: calc((100% - 60px) / 3); margin: 0 0 20px;}

/*calc 계산식
calc((n - n) * / n)을 할 때 띄어쓰기를 해주지 않으면 숫자 계산을 잘 못한다.
*/
.con1 .item-wrap .item > img{width: 100%; border-radius: 10px;}

@media screen and (max-width: 1024px) {
    .con1 .item-wrap .item{width: calc((100% - 48px) / 3);
    margin: 16px;}
}
/*거터 24px 줄이기*/
@media screen and (max-width: 768px) {
    .con1 .item-wrap .item{width: calc((100% - 20px) / 2); margin: 10px;}
}

/*
가상요소
요소 = element = 태그
html 태그 존재x 

*/


.con2{padding: 3vh 3vw;}
.con2 .item-wrap .item{position:relative; width: calc((100% - 60px) / 4); height: auto; margin: 0 0 20px; padding: 0 20px;}
.con2 .item-wrap .item > h3{font-size: 30px; text-align: center; margin: 0 0 20px;}
.con2 .item-wrap .item > p{font-size: 14px; text-align: center;}
.con2 .item-wrap .item::after{
    content: ''; display: block;
    position: absolute; right: 0; top: 25%;
    width: 1px; height: 50%;
    background-color: #444;
}

.con2 .item-wrap .item:last-of-type::after{
    content: none; display: block;
    position: absolute; right: 0; top: 25%;
    width: 1px; height: 50%;
    background-color: #444;
}

@media screen and (max-width: 1024px) {
    .con2 .item-wrap .item > h3{font-size: 28px; text-align: center;}
    .con2 .item-wrap .item > p{font-size: 14px; text-align: center;}
    
}
@media screen and (max-width: 768px) {

    .con2 .item-wrap .item{width: 100%; padding: 20px 0;}
    .con2 .item-wrap .item::after{
        content: ''; 
        width: 150px; height: 1px;
        top: 100%; right: 37%;
    }
}

/*con3*/
.con3{padding: 9vh 9vw;}
.con3 .first, .con3 .second, .con3 .third{
    color: #d4d3d4;
    font-size: 18px;
}
.con3 .title-wrap{text-align: center; margin: 20px 0 30px; font-size: 32px;}
.con3 .title-wrap > p{margin: 20px 0; font-size: 14px;}
.con3 .info-wrap{
    width: 100%; max-width: 992px;
    height: auto;
}
.con3 .info-wrap .info-title{
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    border-bottom: 1px solid white;
}
.con3 .info-wrap .info-title-cell{
    width: 33.3333%; height: 100px;
    text-align: center;
}
.con3 .info-wrap .info-content{margin-bottom: 20px;}
.con3 .info-wrap .info-content .info-cell>a, 
.con3 .info-title-cell > a{
    display: inline-flex;
    width: 200px; height: 45px;
    border: #fff 1px solid; border-radius: 4px;
    justify-content: center; align-items: center;
    padding: 10px 10px;
    background-color: #12151c;
    color: #fff;
}
.con3 .info-title-cell > a{background-color: #0063e5;}
.con3 .info-title-cell > p{font-size: 20px; margin-bottom: 5px;}


.con3 .info-wrap .info-content{
    display: flex; 
    justify-content: flex-end; 
    border-bottom: 1px solid white;
    flex-wrap: wrap;
}

.con3 .info-wrap .first{
    display: flex;
    align-items: center;
    text-align: left;
    width: 50%; height: 200px;
}
.con3 .info-wrap .second,
.con3 .info-wrap .third{
    text-align: center;
    width: 25%; height: 200px;}

.con3 .info-wrap .info-content .second, 
.con3 .info-wrap .info-content .third{
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .con3 .info-wrap{padding: 3vh 0;}
    .con3 .info-wrap .info-content .info-cell{
        display: flex;
        width: 50%;}
    .con3 .info-wrap .info-contnet .info-cell .first{
        display: block;
        width: 100%; text-align: center;}
    
}


.con4{display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 8vh 8vw;}
.con4 .info{width: 50%;}
.con4 .info .title{font-size: 36px; margin: 0 25px 30px 0;}
.con4 .info > p{font-size: 18px;
    margin: 0 25px 0 0;
    color: #d4d3d4;}
.con4 .pic{width: 50%; height: auto;}
.con4 .pic > img{max-width: 100%; height: auto;}

@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 768px) {
    .con4 .info{width: 100%; height: auto;}
    .con4 .pic{width: 100%; height: auto;}
}

.con5{padding: 3vh 3vw;;}
.con5 .title-wrap{}
.con5 .title-wrap .title{font: 40px bold; text-align: center; margin: 15px 0;}
.con5 .title-wrap .txt{font-size: 18px; text-align: center; margin: 15px 0; color: #d4d3d4;}
.con5 .item-wrap{display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.con5 .item-wrap .item{width: calc((100% - 60px) / 3); height: 300px; margin: 0 0 30px; background-color: #ddd;}

@media screen and (max-width: 1024px) {
    .con1 .item-wrap .item{width: calc((100% - 48px) / 3); height: 300px; margin: 0 0 30px;}
}
/*거터 24px 줄이기*/
@media screen and (max-width: 768px) {
    .con1 .item-wrap .item{width: calc((100% - 48px) / 3); height: 300px; margin: 0 0 30px;}
}

.con6{padding: 5vh 5vw;;}
.con6 .title{text-align: center; 
    font-size: 40px; 
    margin: 0 0 30px;}
    
.con6 .question{ 
    position: relative;
    width: 100%;
    padding: 25px;
    font: bold 18px 'inherit';
    background-color: #12151c;}

.con6 .question > h3::after{
    content: '+';
    display: block;
    position: absolute;
    font-size: 40px;
    right: 0;
    top: 19%;
    padding: 0 10px;

}

.con6 .answer{
    width: 100%; height: 0; overflow: hidden;
    padding: 0 30px; margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #12151c;
    transition: all .3s;
}
.con6 .question-list > li:hover .answer{
    height: 100px;
}

@media screen and (max-width: 768px) {
    .con6 .question-list > li .question{font-size: 20px;}
    .con6 .question-list > li .answer{font-size: 16px;}
}



/*footer*/
.footer{width: 100%; margin: 0 auto; padding: 40px 5vw;
display: flex; flex-direction: column; align-items: center; flex-wrap: wrap;}
/*flex-direction : column인 경우 align-items와 justify-content가 반대로 적요이 된다.*/

.footer .menu-list .list{margin: 20px 0; display: flex; flex-wrap: wrap; justify-content: center;}
.footer .menu-list .list > a{padding: 10px 12px; font-size: 13px;}
.footer .info{display: flex; flex-wrap: wrap; justify-content: center;}
.footer .info p{text-align: center; margin: 0 0 20px;}
.footer .info span{font-size: 13px; font-weight: normal; font-size: normal; line-height: 1.5; text-align: center;}
.footer .info address{display: inline;}
.footer .info span::after{content: ' | ';}

.footer .list{display: flex;}

/*
상대 크기 : em, rem - 기준 : 폰트크기

브라우저의 너비를 기준으로 하는 단위
 - vw : viewport width
 - vh : viewport height

100 vw : 현재 뷰포트의 전체 너비
100 vh : 현재 뷰포트의 전체 높이

고정 : px
가변
- .box : % (그리드에 맞춰서 작업할 때)
- 좌우 패딩 : vw, vh, rem
- 폰트 : vw, vh, rem
*/