/* 
*: 모든 선택지, 모든 요소 선택하라
margin : 바깥여백,
padding : 안쪽 여백/

margin : 20px; --> 4방향 적용
margin : 20px 30px; --> 상하, 좌우 방향 적용
margin : 20px auto; --> 좌우를 균등분할 -> 가운데 맞춤 효과

content-box (기본값);
 - 기본값 : 내용영역 / 패딩 / 테두리 - 다 별도로 계산함.
 ex) 너비, 300px, 패딩 20px, 테두리 10px
 300 + 20* 2 + 10*2 = 360px 화면을 차지하게 된다.

 - **border-box (옵션)** <--현재 가장많이 쓰고 있는 종류
 - 내용영역 / 패딩 /테두리 - 내용영역에 패딩, 테두리를 포함해서 계산을 함.
 ex) 너비, 300px, padding 20px, border 10px;
 300안에 20* 2 + 10*2 모두 포함이 된다.
 - 내용영역이 줄어든다.
 - 300 - 20*2 - 10*2 = 240px

*/

/*
    width : 너비 - px(고정크기), %(상대크기)
    height : 높이
    margin : 바깥여백 - 옆의 요소들과 간격이 발생
        ex) margin : 0 auto; --> 위 아래 마진 없음, 좌우 auto니까 가운데 정렬 효과
    padding : 안쪽여백 - 테두리와 내용 사이에 간격 발생
        ex) padding : 150px 0; --> 위아래 패딩 150px, 좌우 패딩 없음
    border : 1px solid blue; 테두리 속성 지정 - 순서 상관X, 선굵기/ 선종류 / 선 색
*/



*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;} 
/*목록 태그의 리스트 기호/알파벳 모양을 지정 - none지정 : 서식X*/
a{text-decoration: none;} /*a태그 기본 서식 - 밑줄을 없애겠다.*/


/*처음부터 공통서식을 어떤 것으로 사용할지 정해놓고 -> 기록 -> 개별
    작업 도중 -> 공통된게 보여서 정리하는 방법
*/

.header{width: 100%; ;background-color: #ddd;}

.inner{width: 1170px; margin: 0 auto;}
.content{width: 100%; padding: 150px 0;}
.content .wrap{
    display:flex; 
    flex-direction: row;/*가로방향으로 배치*/
    justify-content: space-between; /*양쪽으로 정렬해준다.*/
    flex-wrap: wrap; /*너비가 부족하면 자동으로 줄 바꿈 해준다.*/}
.content .box{height: 500px; background-color: #ddd; margin-bottom: 24px;}
.content .box:hover{transition: 0.5s;
    height:500px; background-color: yellow; box-shadow: 10px 10px 20px 20px yellow;}
.content .title{margin-bottom: 40px; font: bold 24px 'inherit'; text-align: center;}
.bestItem .box{width: 25%;}
.newItem .box{width: 33.3%;}
.board .box{width : 50%;}
/* inherit: 부모의 내용을 상속받는다. 기본글꼴 - 맑은 고딕*/

/* 반응형 css 만들어주는 역할

미디어 쿼리(조건) 중단점
    - 해당 미디어에 조건을 지정해서, css 바뀌는 지점을 만들어 주는 것
    @media screen and (max-width: 1200px) {}

 - 미디어가 스크린인 것에 = 해당하는 조건이 맞으면 css 적용
 - 조건 붙이는 방법 : and (속성 : 값) {}

    - 최대 너비가 1200px 이면, {}의 css 적용
    - 상위에 써뒀던 css가 상속이 된다.(그대로 내려와서 적용이 된다.)
    - 그래서 변경되는 부분의 css만 작성해주면 된다.

*/
@media screen and (max-width: 1200px) {
    .inner{width: 100%; margin: 0 auto; background-color: yellow;}
    .content{padding: 120px 40px;}
}

@media screen and (max-width: 768px){
    .content{width: 100%; padding: 80px 20px;}
    .content .title{font-size: 20px;}

}




.bestItem .box{width: 25%;}
@media screen and (max-width: 1200px) {
    .bestItem .box{width: 22.25%;}
}

@media screen and (max-width: 768px) {
    .bestItem .box{width: 48.5%;}
}

.newItem .box{width: 33.3%;}
@media screen and (max-width: 1200px) {
    .newItem .box{width: 31.333%;}
}

@media screen and (max-width: 768px) {
    .newItem .box{width: 100%;}
}



.board .box{width : 50%;}
@media screen and (max-width: 1200px) {
    .board .box{width: 48.5%;}
}

@media screen and (max-width: 768px) {
    .board .box{width: 31.333%;}
}

.visual{width: 100%; height: 500px; background-color: lightblue;}

#banner{width: 450px; margin: 0 auto; display: block;}

.footer{width: 100%; background-color: #666;}