*{padding: 0; margin: 0; box-sizing: border-box;}
ul, li, ol{list-style: none;}
a{text-decoration: none;}


/*common*/
.container{
    width: 100%; height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}

/*header*/
.header{
    width: 100%; height: 90px; 
    background-color: #023586; color: #fff;
    z-index: 99; position: relative;
}

.header .container{padding: 0 25px;}

.brand{
    width: 25%; padding: 0 10px; z-index: 2;
    font-size: 28px; white-space: nowrap;
    position: absolute;
}

#nav{width: 100%; display: inline-block;}
.gnb{
    width: 100%;
    display: flex; align-items: center; 
    justify-content: space-between;
}

.gnb .leftgnb{width: 33.333%; 
    display: flex; justify-content: flex-start;
}
.gnb .rightgnb{width: 33.333%; 
    display: flex; justify-content: flex-end;
    align-items: center;
}

.menu-list{
    width: 100%;
    display: flex; align-items: center;
}

.menu-item{width: 100%;}
.menu-item > a{
    display: block;
    color: #fff; font-size: 14px; text-align: center;
    padding: 0 10px;
    line-height: 90px;
    position: relative;
}
.menu-item > a::after{
    content: '';
    height: 2px; width: 0;
    background-color: #fff;
    position: absolute; bottom: 0; left: 0;
    transition: width .2s ease-in-out;
}


.leftgnb .menu-list .menu-item .logo{color: #e5ca33;}

@media screen and (max-width: 988px) {
    .menu-item{display: none;}
}
.serach_icon{
    width: 24px; height: 24px;
    margin-left: 12px;
    display: inline-block;
}
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 24px;
    color: #fff;
    display: inline-block;
}

/*body*/
.main{width: 100%;}
.section{width: 100%;}
.section .inner{
    width: 100%;
    padding: 80px 30px; 
    margin: 40px auto;
}

.box{position: relative;}

.inner .title-wrap{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin: 0 0 30px;
}

.cover{
    background: linear-gradient(to top, rgba(0,0,0,0.6),
    rgba(0,0,0,0));
    width: 100%; height: 100%;
    position: absolute;
    transition: 0.2s;
    opacity: 0;
}


/*visual*/
.visual .inner{width: 100%; padding: 0 0 80px;}
.visual .inner .container{
    width: 100%;
    overflow: hidden;
}
.visual .inner .container .box{width: calc(100% / 3);}
.visual .inner .container .box .banner{
    width: 100%; 
    display: block;
}
.visual .box .cover{
    background: rgba(0,0,0,0.3);
    opacity: 1;
}
.visual .container .box:hover .cover{
    opacity: 0;
    cursor: pointer;
}

@media screen and (max-width: 819px) {
    .visual .inner .container .box{width: 50%;}
}


#slide_n{display: flex; justify-content: space-between; align-items: center;}
.slide_btn{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0.5px;
    cursor: pointer;
}
.slide_btn::before{
    content: '';
    font-family: slick;
    cursor: pointer;
    padding: 5px;
    font-size: 0;
    background-color: #bfbfbf;
}


/*section 1*/
.title-wrap .title{text-align: left;}
.title-wrap > span{text-align: right; text-decoration: underline;}

.promotion{
    display: flex;
    flex-flow: row nowrap;
}

.promotion .content-wrap{
    width: calc((100% - 30px * 3) / 4);
    margin: 0 30px;
}

.promotion .content-wrap img{
    width: 100%; 
    height: auto;
    display: block;
}

.promotion .content-wrap:hover .cover{
    opacity: 1;
    cursor: pointer;
}

.promotion .content-wrap >p:hover{
    cursor: pointer;
    text-decoration: underline;
}


.promotion .content-wrap .box::before{
    font-size : 12px; color: rgb(232, 223, 223);
    width: 50px;
    position: absolute; top: 0; left: 0;
    background-color: #023586;
    padding: 3px;
    text-align: center;
}

.promotion .content-wrap .box.ing::before{content: '진행 중';}
.promotion .content-wrap .box.maybe::before{content: '예 정';}



/*section 2*/
.product .content-wrap{
    width: calc(100% / 5);
    padding: 20px;
}


.product .content-wrap .box img{
    width: 100%;
}

.product .content-wrap .box:hover .cover{
    opacity: 1;
    cursor: pointer;
}
.product .content-wrap:hover h3{
    cursor: pointer;
    text-decoration: underline;
}

/*section 3*/
.story{
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

.story .content-wrap{
    display: flex;
    width: calc((100% - 20px) / 2);
    margin: 20px 0;
    justify-content: space-between;
}

.story .content-wrap .box:hover .cover{
    opacity: 1;
    cursor: pointer;
}

.story .box{
    width: calc((100% - 24px) / 2);
}

.story .info{
    width: calc((100% - 24px) / 2);
}

.story .box img{
    display: block;
    width: 100%;
}

.story .content-wrap .info{
    display: block;
    padding: 0 0 24px;
    text-align: left;
}
.story .content-wrap .info p{margin: 0 0 24px;}

.story .content-wrap .info strong{
    margin: 0 0 24px;
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.story .content-wrap .info strong:hover{
    text-decoration: underline;
    cursor: pointer;
}

.story .content-wrap .info span{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.story .content-wrap .info p:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
    .story .content-wrap{width: 100%;}
}
@media screen and (max-width: 480px) {
    .story .content-wrap .info span{display: none;}
}

/*section 4*/
.magazine .content-wrap{
    width: calc((100% - 24px * 2) / 3);
    margin: 0 24px;
}

.magazine .content-wrap .box:hover .cover{
    opacity: 1;
    cursor: pointer;
}

.magazine .content-wrap .box img{
    width: 100%;
    display: block;
}

.magazine .content-wrap .info{
    position: absolute;
    padding: 24px;
    bottom: 0;
}
.magazine .content-wrap .info h3 {
    color: white;
    font-size: 28px;
    text-align: left;
    margin: 10px 0;
}
.magazine .content-wrap .info p {
    color: white;
    font-size: 18px;
    text-align: left;
}

.magazine .content-wrap .info h3:hover {
    text-decoration: underline;
    cursor: pointer;
}
.magazine .content-wrap .info p:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 988px) {
    .magazine .content-wrap{
        width: calc((100% - 24px * 1) / 2);
        margin: 0 24px;
    }
}
@media screen and (max-width: 680px) {
    .magazine .container{
        display: block;
    }
    .magazine .content-wrap{
        width: 100%;
    }
}

/*section 5*/
.sns .title {width: 100%; text-align: center;}
.sns .title a{color: black; font-size: 24px;}
.sns .title small{font-size: 14px; margin-top: 14px;}


/*fbanner*/

.fbanner .container .box{width: 33.3333%;}

.fbanner .box a::after{
    content: '';
    width: 1px;
    height: 100px;
    position: absolute; right: 0; top: 25%;
    background-color: black;
}
.fbanner .box:last-of-type a::after{
    display: none;
}


.fbanner .fb{
    display: block;
    padding: 50px 100px 50px 50px;
}

.fbanner .fb h3{
    color: #1e73be;
    font-size: 14px;
    margin: 0 0 16px;
    
}
.fbanner .fb h2{
    color: black;
    font-size: 18px;
}

.fbanner .box:hover .cover{
    opacity: 1;
    cursor: pointer;
}

/*footer*/
.footer{background-color: #464a56;}
.footer .container{
    padding: 0 25px;
    align-items: flex-start;
}
.footer .widgets{
    padding: 70px 0;
}
.footer .widget{
    width: 25%;
    color: white;
}

.footer .widget .widgetheader{
    font: 24px white;
    margin: 0 0 20px;
}

.footer .widget .list li{
    font-size: 14px;
    margin: 0 0 15px;
}
.footer .widget .list li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer .flogo a:first-of-type{
    display: block;
    width: 100%;
}
.footer .flogo a:first-of-type img{
    height: 40px;
}

.footer .flogo a > img{
    width: auto;
    height: 34px;
    margin: 0 10px 20px 0;
}

.widget .container{
    padding: 0 20px 0 0;
    justify-content: flex-start;
}

.footer .widget .follow a{
    display: block;
    width: 44px; height: 44px;
    background: #fff; color: black;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
}

.footer .widget .follow a span img{
    height: auto;
    margin: 0 auto;
    display: block;
}

.footer .widget .follow a span .sns1{
    width: 16px; padding-top: 7px;
}
.footer .widget .follow a span .sns2{
    width: 24px; padding-top: 11px;
}
.footer .widget .follow a span .sns3{
    width: 27px; padding-top: 12px;
}