*{padding: 0; margin: 0; box-sizing: border-box;}
ul, li, ol{list-style: none;}
a{text-decoration: none;}



/*common*/
.container{
    width: 100%; height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 0 25px;
}


/*header*/
.header{width: 100%; height: 90px; 
    background-color: #023586; color: #fff;
    z-index: 99; position: relative;}

.brand{width: 25%; padding: 0 10px; z-index: 2;
font-size: 28px; white-space: nowrap;
position: absolute;}

#nav{width: 100%; display: inline-block;}
.gnb{width: 100%;
display: flex; align-items: center; justify-content: space-between;}

.gnb .leftgnb{width: 33.333%;}
.gnb .rightgnb{width: 33.333%;}

.menu-list{width: 100%;
display: flex; justify-content: center; align-items: center;
}
.menu-item{width: 100%;}
.menu-item > a{
width: 25%;
color: #fff; font-size: 14px; 
padding: 0 10px;}

.leftgnb .menu-list .menu-item .logo{color: #e5ca33;}


/*body*/
.main{width: 100%;}
.section{width: 100%;}
.section .inner{width: 100%;
    padding: 80px 0; margin: 0 0 80px;
}
.box{position: relative;}
.inner .title-wrap{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin: 0 0 30px;
}

.cover{
    background: linear-gradient(to top, rgba(0,0,0,0.6),
    rgba(0,0,0,0));
    width: 100%; height: 100%;
    position: absolute;
    opacity: 0;
}

/*visual*/
.visual{width: 100%;}
.visual .inner{width: 100%; padding: 0 0 80px;}
.visual .inner .container{width: 100%; padding: 0; margin: 0; flex-wrap: nowrap;
overflow: hidden;}
.visual .inner .container > .banner{width: 33.333%}

#slide_n{display: flex; justify-content: space-between; align-items: center;}
.slide_btn{
    position: relative; 
    display: block; 
    width: 20px;
    height: 20px;
    margin: 0.5px;
    cursor: pointer;
}
.slide_btn::before{
    content: '';
    width: 20px;
    height: 20px;
    font-family: slick;
    cursor: pointer; 
    padding: 5px;
    font-size: 0;
}


/*section 1*/

.title-wrap .title{text-align: left;}
.title-wrap > span{text-align: right; text-decoration: underline;}

.promotion{
    display: flex;
    flex-flow: row nowrap;
}

.promotion .content-wrap{
width: calc((100% - 30px * 3) / 4);
margin: 0 30px;
}

.promotion .content-wrap img{
    width: 100%; 
    height: auto;
    display: block;
}



.promotion .content-wrap:hover .cover{
    opacity: 1;
    cursor: pointer;
}
.promotion .content-wrap >p:hover{
    cursor: pointer;
    text-decoration: underline;
}


.promotion .content-wrap .box::before{
    font-size : 12px; color: rgb(232, 223, 223);
    width: 50px;
    position: absolute; top: 0; left: 0;
    background-color: #023586;
    padding: 3px;
    text-align: center;
}

.promotion .content-wrap .box.ing::before{content: '진행 중';}
.promotion .content-wrap .box.maybe::before{content: '예 정';}



/*section 2*/
.product .content-wrap{
    width: calc(100% / 5);
    padding: 20px;
}

.product .content-wrap .box:hover span{
    opacity: 1;
    cursor: pointer;
}

.product .content-wrap .box img{
    width: 100%;
}

.product .content-wrap:hover h3{
    cursor: pointer;
    text-decoration: underline;
}

/*section 3*/
.story .content-wrap{
    display: flex;
    flex-flow: row wrap;
}

.story .content-wrap{
    display: flex;
    
}

/*section 4*/


/*section 5*/



/*footer*/
.footer{width: 100%;}