*{margin:0; padding:0; box-sizing:border-box}
ul, ol, li{list-style: none;}
a{text-decoration: none;}
body{background-color: #444;}


/*header*/
header{background-color: #eef;}
header .container{max-width: 600px;}
header .container .row{}
header .container .row .logo{margin: 0;}
header .container .row .gnb-menubar{
    justify-content: space-between;
}
header .container .row .gnb-menubar .username{color : deeppink;}
header .container .row .gnb-menubar a.logout{margin-left: 20px; color: #ddd;}
header .container .row .login-wrap{margin: 0; right: 0;}
header .container .row .login-wrap .login{}
header .container .row .login-wrap .login a{}
header .container .row .login-wrap .login a span{}

.sec {width: 100%; padding: 50px 0; }
.sec .container{max-width: 600px; padding: 40px; border-radius: 5px; background-color: #fff;}
.sec h2{margin: 0 0 20px }
.sec input[type="text"],
.sec input[type="password"]
{
  width: 80%;
  margin: 3px 10px; padding : 3px 15px; 
  border: 1px solid transparent; outline: 0; 
  transition: 0.3s;
  background-color: lightgoldenrodyellow;
}

.blog-post input[type="text"]{border-bottom-color: #ddd; margin: 10px 0;}

.blog-list .item{padding: 20px; border-bottom: 1px dotted #aaa;}
.blog-list .item label{color: #444;}

.blog-list .blog-title.edit{border: 1px solid #ddd; background-color: rgba(230, 230, 250, 0.8);}
.blog-list .blog-content.edit{border: 1px solid #ddd; background-color: rgba(230, 230, 250, 0.8);}


.pagination{margin: 20px 0 0 ;}
.pagination a{width: auto;}