<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form class="form-box" action="/edit/?_method=put" method="POST">
      <h2>글 수정</h2>
      <input id="inputId" name="id" value="<%= result._id %>" type="hidden" />
      <input id="inputTitle" name="title" placeholder="title" value="<%= result.title %>" />
      <input id="inputContent" name="content" placeholder="content" value="<%= result.content %>" />
      <button class="edit">전송</button>
    </form>

  </body>
</html>
