<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>write</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('nav.ejs') %>

  <section class="sec">
    <h2>로그인</h2>
    <form class="form-box" action="/login" method="POST">
      <input name="userid" placeholder="userid" value="pink">
      <input name="password" placeholder="password" type="password" value="1234">
      <button>로그인</button>
    </form> 
  </section>
</body>
</html>