<header class="header">
  <div class="inner">
    <h1><a class="logo">Forum</a></h1>
    <nav class="nav">
      <a href="/join">join</a>
      <a href="/add">write</a>
      <a href="/list">list</a>
      <% if(loginInfo.userId == null){ %>
      <a href="/login"><%= loginInfo.message %> </a>
      <% } else{ %>
      <a href="#"><%= loginInfo.userId %><%= loginInfo.message %></a>
      <a href="/logout">logout</a>
      <% } %>
    </nav>
  </div>
</header>
