*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;} /* 리스트 기호,숫자 없애기 */
a{text-decoration: none;} /* a태그 기본서식 - 밑줄 없애기*/

body{background-color: #222;}

.login{height: 100vh;}
.login .title{margin: 0 0 20px; font: bold 24px 'inherit'; text-align: center;}

.login .loginBox{padding: 30px; background-color: #fff;}
.login .loginBox .boxColor{position: relative;}
.login .loginBox .boxColor .idBox{border-radius: 5px 5px 0 0;}
.login .loginBox .boxColor .pwBox{border-radius: 0 0 5px 5px;}

.login .loginBox .boxColor label{
  position: absolute; left: 10px; top: 8px;
  line-height: 40px;
  transition: 0.2s;
}
.login .loginBox .boxColor:hover label{
  top: 5px; 
  font-size: 10px; line-height: 10px;
}



.login .loginBox .boxColor .inputBox{
  width: 100%;
  line-height: 40px; border: 0; outline: 0;
  padding: 10px 10px 0;
}