*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;} /* 리스트 기호,숫자 없애기 */
a{text-decoration: none;} /* a태그 기본서식 - 밑줄 없애기*/

body{background-color: #222;}

.login{height: 100vh; padding: 150px 0;}
.login .title{margin: 0 0 20px; font: bold 24px 'inherit'; text-align: center; color: #fff;}


/*
클래스 추가
input의 내용이 있으면, .boxColor에 .check 클래스 추가하고 없으면 추가 안하기
*/

.login .loginBox{padding: 30px; background-color: #fff; max-width: 400px;}
.login .loginBox .boxColor{position: relative; border: #ccc 1px solid; margin: 5px 0;}
.login .loginBox .idBox{border-radius: 10px;}
.login .loginBox .pwBox{border-radius: 10px;}

.login .loginBox .boxColor label{
  position: absolute; left: 10px; top: 8px;
  line-height: 40px;
  transition: 0.2s;
}
.login .loginBox .boxColor.check{border-color: #03c75b;}
.login .loginBox .boxColor.focuson label{
  top: -5px; padding: 0 3px;
  background-color: white;
  font-size: 12px; line-height: 10px;
}



.login .loginBox .boxColor .inputBox{
  width: 100%;
  line-height: 40px; border: 0; outline: 0;
  padding: 10px 10px 0;
}