<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="blog-post">
          <h2 class="title">Blog Post!</h2>
          <div class="blog-title">
            <label for="blogTitle">제목</label>
            <input type="text" name="title" class="blog-title">
          </div>
          <div class="blog-content">
            <label for="blogContent">내용</label>
            <input type="text" name="content" class="blog-content">
          </div>
          <button type="button" class="add-post" onclick="isAdd(this.form)">등록</button>
          <button type="button" class="cancle">취소</button>
        </div>
      </form>


<script src="/js/main.js"></script>
</body>
</html>