@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Pretendard-Regular';}
li, ul, ol {list-style: none;}
a {text-decoration: none;}



/*header*/
.header{width: 100%; height: 100px; background-color: #333;}
.hdaer .row {align-items: center; height: 100px;}

.header nav{}

.header .global{display: flex; justify-content: flex-end;}
.header .global > li{}
.header .global > li > a{display: block; font-size: 15px;}
.header .global > li:last-of-type > a{padding-right: 0;}
.header .global > li > a::after{content:'|'; padding: 0 15px; font-size: 10px;}
.header .global > li:last-of-type > a::after{display: none;}

.header a{color: #fff;}
.header .logo a{
    display: block;
    width: 111px; height: 40px;
    background-image: url('/images/logo_dunkindonuts.png');
    text-indent: 100%; /*텍스트를 들여쓰기 하는 기능*/
    white-space: nowrap;
    overflow: hidden;
}


.header .gnb{display: flex; justify-content: flex-end;}
.header .gnb > li{display: flex;}
.header .gnb > li > a{display: block; padding: 0 30px;}
.header .gnb > li:last-of-type > a{padding-right: 0;}






/*section*/
.sec {width: 100%; padding: 100px 0;}
.sec .title{margin: 0 0 20px; font: bold 24px 'inherit'; text-align: center;}

.member table{width: 100%; border-collapse: collapse; border-spacing: 0; border-bottom: 1px solid #ddd;}
.member table th, .member table td{border-top: 1px solid #ddd;}
.member table th{background-color: #ddd; padding: 5px 0;}
.member table td.email{text-align: left;}

.member tr:nth-of-type(2n-1){background-color: #f9f9f9;}

@media screen and (max-width: 768px) {

    .member th{display: none;}
    .member td{display: block;}
    .member td:first-of-type{
        display:table-cell; 
        background-color: #f9f9f9;
    }

    .member td{text-align: left; padding: 2px 5px;}
    .member td.no{text-align: center; background-color: pink;}
    .member td.email{font-weight: bold; text-align: center; background-color: pink;}


    .member td::before{display: inline-block; padding: 0 30px; width: 100px;}
    .member td:nth-of-type(2){content: 'email';}
    .member td:nth-of-type(3){content: 'age';}
    .member td:nth-of-type(4){content: 'gender';}
    .member td:nth-of-type(5){content: 'height';}
    .member td:nth-of-type(6){content: 'weight';}
    .member td:nth-of-type(7){content: 'birthday';}
    .member td:nth-of-type(8){content: 'sign_up_day';}
    .member td:nth-of-type(9){content: 'address';}
}