<header class="header">
  <div class="container">
    <div class="row">
      <h1 class="logo col"><a href="#">DONKIN DONUT</a></h1>
      <nav class="col">
        <ul class="global">
          <li><a href="#">고객센터</a></li>
          <li><a href="#">업무제휴</a></li>
          <li><a href="#">언어선택</a></li>
        </ul>
        <ul class="gnb">
          <li><a href="/">Home</a></li>
          <li><a href="/member">Member</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>