*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: black; text-align: center;}
img{display: block; width: 100%;}


/* header */
.head{}




/* section */