*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: black; text-align: center;}
img{display: block; width: 100%;}


/* header */
.head{background-color: #ddd; display: block;}
.head .container{margin: 0; padding: 0; width: 100%;}
.head .container .row{margin: 0; padding: 0;}
.head .container .row .logo{position: relative; left: 0;}
.head .container .row .gnb-menubar{position: relative; right: 0;}
.head .container .row .gnb-menubar .login-wrap{display: flex; justify-content: right; align-items: center; }
.head .container .row .gnb-menubar .login-wrap a{padding-right: 15px;}
.head .container .row .gnb-menubar .login-wrap a:last-of-type{padding-right: 0;}




/* section */
.sec{background-color: #eee;}
.sec .container{padding-top: 80px;}
.sec .container .row{margin: 10px 0;}
.sec .container .row{align-items: center;}
.sec .container .row .add-btn{width: 20px; padding: 0; align-items: center;}
.sec .container .row .add-btn i{
    width: 20px; height: 20px;
    margin: 0; padding: 0;
}
.sec .container .row .add-btn i::before{
    display: flex; justify-content: center; align-items: center;
    width: 40px; height: 40px;
}
.sec .container .row .list-wrap{justify-content: space-between; align-items: center;}
.sec .container .row .list-wrap .to-dolist{padding-left: 30px;}
.sec .container .row .list-wrap .to-dolist input[type=text]{width: 500px;}