@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box; font-family: Pretendard-Regular;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: black; text-align: center;}
img{display: block; width: 100%;}
.btn{
    width: 85px;
    background-color: #ffec9f;
    border-style: none; border-radius: 10px;
}


.inner{height: 100%;}

fieldset{
    border: 1px solid #eee;
    width: 360px;
    position: relative;
}

fieldset .title-wrap{}
fieldset .title-wrap .title{
    display: inline-block; justify-content: center; 
    text-align: center;
}

fieldset .close{
    width: 24px;  height: 24px;
    position: absolute; top: 16px; right: 16px;
    opacity: 0.3; background-color: transparent; border: none;
    float: none;
    text-rendering: auto;
}
fieldset .close .bi{
    display: inline-block;
    font-size: 24px; font-size: 'inherit';
}
fieldset .close .close:hover .bi{color: black;}

fieldset .content-wrap.row {}
fieldset .content-wrap.row .btn-wrap{
    display: flex; justify-content: space-between;
    padding: 0;
}
fieldset .content-wrap.row .btn-wrap .login-btn,fieldset .content-wrap.row .btn-wrap .join-btn{width: 100%; border-radius: 5px;}

fieldset .box-wrap{justify-content: space-between;}



#username{border-radius: 5px 5px 0 0; border: 1px solid #e7eaee;}
#password{border-radius: 0 0 5px 5px; border: 1px solid #e7eaee;}
#phoneNum{border-radius: 0 0 5px 5px; border: 1px solid #e7eaee; margin-bottom: 10px;}
#errormessage{font-size: 15px; color: red;}