*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;} /* 리스트 기호,숫자 없애기 */
a{text-decoration: none;} /* a태그 기본서식 - 밑줄 없애기*/

.content{width: 100%; padding: 120px 0;}
.inner{width: 1170px; margin: 0 auto;}

@media screen and (max-width : 1200px){
  .inner{width: 100%;}
}

.login .title{text-align: center;}
.login .loginBox{
    width: 400px; padding: 30px; margin: 0 auto;
    border: 1px solid black;
} 

.login .loginBox div{
  height: 40px;
  display: flex; justify-content: center; font-size: 14px;
}

.login .loginBox .boxColor{border: 1px solid #ddd; padding: 0 5px 0 0;}
.login .loginBox .boxColor.check{border-color: rgb(71, 199, 71);}

.login .loginBox .idBox{border-radius: 5px 5px 0 0 ;}
.login .loginBox .pwBox{border-radius: 0 0 5px 5px;}

.login .loginBox label{width: 50px; line-height: 40px; text-align: center;}
.login .loginBox input{width: calc(100% - 50px); padding:0 10px;border: 0; outline: none;}

.login .loginBox .loginBtnBox #loginBtn{width: 100%; height: 30px;}
.login .loginBox .errorMessage{color: red;}

.login .bi{font-size: 18px; color: #999; }