<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list📃</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/join.css" />
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">Forum</h1>
      </div>
    </header>

    <section class="sec">
      <div class="inner">
        <h2>회원가입</h2>
        <form action="/join" method="POST">
          <div class="join-box">
            <input class="userId" name="userId" placeholder="userId" type="text">
            <input class="password" name="password" placeholder="password" type="password">
            <button>회원가입하기</button>
            <a class="toLogin" href="/login">취소</a>
          </div>
        </form>
        
    </section>
  </body>
</html>
