<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list๐</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">Forum</h1>
      </div>
    </header>

    <section class="sec">
      <div class="inner">
        <h2>๋ก๊ทธ์ธ ํ ์ด์ฉํด์ฃผ์ธ์.</h2>
        <form action="/login" method="POST">
          <div class="login-box">
            <input class="userId" name="userId" placeholder="userId" type="text">
            <input class="password" name="password" placeholder="password" type="password">
            <button>๋ก๊ทธ์ธ</button>
            <a class="toJoin" href="/join">ํ์๊ฐ์</a>
            <a class="toList" href="/list">๋์๊ฐ๊ธฐ</a>
          </div>
        </form>
        
    </section>
  </body>
</html>
