<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list📃</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">Forum</h1>
      </div>
    </header>

    <section class="sec">
      <div class="inner">
        <h2>글 작성</h2>
        <form action="/add" method="POST">
          <div class="write-box">
            <input class="title" name="title" placeholder="title" type="text">
            <input class="content" name="content" placeholder="content" type="text">
            <button>작성</button>
            <a href="/list">취소</a>
          </div>
        </form>
        
    </section>
  </body>
</html>
