<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="head">
        <div class="container">
            <div class="row">
                <h2 class="logo col"><a href="/">๐</a></h2>
                <div class="gnb-menubar col">
                    <div class="login-wrap">
                        <a href="/login" class="login">๋ก๊ทธ์ธ</a>
                        <a href="/resister" class="resister">ํ์๊ฐ์</a>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <script src="/js/nav.js"></script>
    <script>

    </script>
</body>
</html>