<div class="row row-cols-1 blog-post-wrap">
  <div class="col">
    <!-- <label for="post-title">제목</label> -->
    <input type="text" name="title" id="post-title" placeholder="제목" />
  </div>
  <div class="col">
    <!-- <label for="post-content">내용</label> -->
    <input type="text" name="content" id="post-content" placeholder="내용" />
  </div>
  <div class="col">
    <button type="submit" id="post-commit" class="btn btn-success">등록</button>
    <button type="reset" id="post-cancel" class="btn btn-secondary">
      취소
    </button>
  </div>
</div>
