<header class="header">
    <div class="container">
        <div class="logo-wrapper">
            <a href="/">
                <h2 class="logo">LOGO</h2>
            </a>
        </div>
        <ul class="gnb">
            <li><a href="/">메인</a></li>
            <li><a href="/board">게시판</a></li>
            <% if(!user){ %>
                <li><span onclick="gotologin()">로그인</span></li>
            <% }else{ %>
                <li>접속자 : <a href="/member/<%= user.id %>"><%= user.nickname %></a></li>
                <li><a href="/logout">로그아웃</a></li>
            <% } %>
        </ul>
    </div>
    <script>
        function gotologin(){
            let path = window.location.href
            location.href='/login?path='+path
        }
    </script>
</header>