<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>join</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="inner" style="display: flex; justify-content: center">
        <h1><a class="logo">Forum</a></h1>
      </div>
    </header>

    <section class="sec">
      <h2>회원가입</h2>
      <form class="form-box" action="/join" method="POST">
        <input class="inputId" name="userId" placeholder="userId" type="text" />
        <button id="IdCheck">아이디 중복체크</button>
        <% if(message) { %>
        <p><%= message %></p>
        <% } %>
        <input name="password" placeholder="password" type="password" />
        <button>완료</button>
      </form>
    </section>

    <script>
      const BASE_URL = "http://localhost:4000";
      const IdCheck = document.querySelector("#IdCheck");

      IdCheck.addEventListener("click", async e => {
        e.preventDefault();
        let userIdValue = document.querySelector(".inputId").value;
        await fetch(`/join/IdCheck`, {
          method: "POST",
          headers : {"Content-Type" : "application/json",},
          body: JSON.stringify({userId : userIdValue}),
        });
      });
    </script>
  </body>
</html>
