*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: black; text-align: center;}
img{display: block; width: 100%;}
body{background-color: rgba(252, 245, 219, 0.3);}

/*header*/

header{
    position: fixed; top: 0; left: 0; z-index: 1000;
    display: flex; justify-content: space-between; align-items: center;
    background-color: transparent;
}

.header{
    padding: 32px 64px 16px;
    font-size: 14px; font-weight: 600;
    overflow-y: hidden;
    transition: 0.3s ease;
}

.header:hover{overflow-y: visible;}

.header .logo {width: 160px;}
.header .logo sgv{height: 60px; transition: 0.3s ease;}

.header .menu-list{
    display: flex; justify-content: space-between; align-items: center;
    padding: 16px 0;
}
.header .head.middle .menu-list{height: 0;}
.header .head.middle .depth-01{
    position: relative;
    margin: 0 24px; 
    text-align: center; font-size: 18px;
}

.header .head.middle .menu-item.depth-01 ul{
    position: absolute; top: 16px; left: 50%; transform:translateX(-50%);
    width: max-content; padding: 24px 0;
    transition: 0.5s ease; 
    opacity: 0;
}
.header .head.middle .menu-item.depth-01:hover ul{
    height: 50px;
    opacity: 1;
}

.header .middle .depth-01 .depth-02 a span{
    margin: 20px 0; 
    font-size: 12px; font-weight: 400; color: #a5a5a5;
}

.head.right .menu-list span{color: #e5e7eb;}
.head.right .login:hover .login-btn>span,
.head.right .cart:hover>.cart-btn>span{color:black}

/*header-slide*/
.header-slide{
    display: none; background-color: #ffec9f; height: 70px;
}
.header-slide .inner{
    position: fixed; top: 0; left: 0; z-index: 999; 
}
.header-slide .inner .col{padding: 20px}

.header-slide .inner .slide-logo{
    justify-content: center; align-items: center;
    height: 70px;
}

.header-slide .inner .slide-logo .img-box{
    position: relative; height: 100%;
}
.header-slide .inner .slide-logo img{
    position: absolute; top: 0; left: 35%;
    width: auto; height: 100%;
}

.header-slide .inner .slide-cart{
    display: flex; justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
    .header{display: none;}
    .header-slide{display: block;}
}

/*nav*/
nav{
    position: absolute; top: 0; left: 0;
    height: 100vh;
}

/*main*/
main{padding: 130px 0; position: relative;}
main .body-bg .tms-bg{
    position: fixed; top: 0; left: 0; z-index: -1;
    width: 100%; height: 100%;
}
main .body-bg .tms-bg svg{position: absolute;}

main .body-bg .tms-bg .tms-bg1{right: 5%; top: 50%;}
main .body-bg .tms-bg .tms-bg2{left: 10%; top: 50%;}
main .body-bg .tms-bg .tms-bg3{left: 20%; top: 100%;}
main .body-bg .tms-bg .tms-bg4{right: 20%; top: 100%;}
main .body-bg .tms-bg .tms-bg5{left: 30%; top: 100%;}

/*visual*/
.visual {width: 100%; height: 100vh; transition: 0.3s;}
.visual .con {height: 100%; position: relative;}
.visual .row {
    justify-content: space-between; flex-wrap: nowrap;
    height: 100%; 
    border-radius: 20px; 
    overflow: hidden;
}
.visual .row .bg-1{
    width: 100%; height: 100%; 
    background-image: url('../knotted_images/knotted_banner.jpg');
    background-size: cover;
    background-position: center;
}
.visual .row img{
    display: none; 
    width: 100%; min-width: 1114px; min-height: 1114px;
}
.visual .nav{
    width: auto; height: 100%;
}
.visual .nav .btn{
    position: absolute; top: 45%;
    cursor: pointer;
}
.visual .nav .prev-btn{left: 0;}
.visual .nav .next-btn{right: 0;}
.visual .nav .bi::before{
    display: flex; justify-content: center; align-items: center;
    width: 48px; height: 48px;
    background-color: #fff; 
    border-radius: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    font-size: 16px; font-weight: 700; color: #3c3c3c;
}

@media screen and (max-width: 992px) {
    main{padding: 0;} 
    .visual{padding: 0;}
    .visual .row .bg-1{display: none;}
    .visual .row img{display: block;}
    .visual .nav .btn{display: none;}
}

/*section common*/
section {padding: 100px 0;}

section .title{margin: 80px 0; font-size: 48px; font-weight: 600;}

section .item{
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

section .wrap{background-color: #fff; border-radius: 10px;}
section .info{padding: 5px;}
section .ttl{margin: 0; font-size: 20px; color: #3c3c3c;}
section .price{font-size: 18px; color: #ffa2cb;}


/*section-Online-Shop*/
.Online-Shop .item {
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.Online-Shop .item .box {background-color: #fff;}
.Online-Shop .item .box .img-wrap{
    display: block; position: relative;
}
.Online-Shop .item .box .img-wrap .hover-img{
    display: none; position: absolute; top: 0; left: 0;
}
.Online-Shop .item .box .img-wrap:hover .basic-img {opacity: 0;}
.Online-Shop .item .box .img-wrap:hover .hover-img {
    display: block;
    border-radius: 10px;
}

.Online-Shop .item-info{padding: 15px;}
.Online-Shop .box .ttl{
    margin-top: 10px; 
    text-overflow: ellipsis; white-space: nowrap;
    overflow-x: hidden;
}
.Online-Shop .box .price{
    margin: 0;
    font-size: 18px; white-space: nowrap;
}

.Online-Shop .to-cart{
    display: block; 
    width: 100%; padding: 5px;
    background-color: #fdfaf7;
    border-top: 1px solid #ebebeb;
    text-align: center;
}



/*event*/

.event .row {overflow-y: hidden;}
.event .row .item{border-radius: 10px;}
.event .row .item .card{position: relative; cursor: pointer;}
.event .row .item .card:hover .cover{display: block;}
.event .row .item .card .cover{
    display: none; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.event .row .item .card .cover span{
    display: inline-block; position: relative; top: 45%;
    color: #fff; font-size: 24px;
}

/*Instagram*/

.Instagram .content-wrap .star-img{
    position: relative; 
    padding: 6px;
}
.Instagram .content-wrap .star-img a .img-wrap{
    min-height: 180px; height: 24vh;
    background-size: cover; background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.Instagram .follow span{
    display: inline-block;
    width: auto; height: auto; padding: 8px 24px; 
    margin: 40px 0 0;
    border: #e5e7eb 1px solid; border-radius: 20px;
    text-align: center; font-size: 16px; font-weight: 600;
}
.Instagram .follow span:hover{
    background-color: #ffeea4;
    cursor: pointer;
}

/*footer*/
.footer {
    background-color: #bee1f0;
    border-radius: 64px 64px 0 0;
}
.footer .con{position: relative;}
.footer .con .footer-gb1{
    position: absolute; bottom: 0;
    width: 100%;
    overflow: hidden;
}
.footer .tms-footer-bg1 svg{
    width: 100%; min-height: 100%;
    object-fit: cover;
}

.footer .kakao-add{
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;  position: relative; 
    padding: 100px 0;
    text-align: center; 
}
.footer .kakao-add h2{
    margin: 0; 
    font-size: 48px; font-weight: 600; line-height: 1.6em;
}
.footer .kakao-add p{
    display: block; 
    margin-top: 64px;  margin-bottom: 32px;
    line-height: 1.6em; font-size: 20px;
}
.footer .kakao-add .button{
    display: inline-block;
    background-color: #ffec9f;
    border-radius: 20px;
    font-size: 20px; line-height: 1em; font-weight: 500;
    cursor: pointer;
}
.footer .kakao-add .button:hover{background-color: #ffa2cb;}

.footer .con .footer-inner .footer-top{
    position: relative;
    display: flex;
}
.footer .con .footer-inner .footer-top ul{margin-top: 24px;}
.footer .con .footer-inner .footer-top ul li{margin-top: 10px;}
.footer .con .footer-inner .footer-top ul li a{
    align-items: center;
}
.footer .con .footer-inner .footer-top h3{
    font-size: 16px; font-weight: 600; line-height: 1em;
}
.footer .con .footer-inner .footer-top .footer-social{
    position: relative; z-index: 2;
}
.footer .con .footer-inner .footer-top .footer-social p{
    margin: 0;
}
.footer .con .footer-top .footer-social a img{

    width: 16px; height: 16px; margin-right: 8px;
}

.footer .con .footer-inner .footer-bottom {
    position: relative; display: flex;
}

.footer .con .footer-inner .footer-bottom ul li::before{
    content: "";
    width: 1px; height: 40px;  margin: 0 16px;
    border-left: 1px solid #a5a5a5;
}
.footer .con .footer-bottom ul li:nth-of-type(1)::before{
    display: none;
}
.footer .con .footer-bottom ul li a{color: #a5a5a5;}
.footer .con .footer-bottom ul .link:hover{color: #000;}

.fooer-gb{width: 100%; position: relative;}
.fooer-gb2{width: 100%; position: relative;}
.footer-gb-3{
    position: absolute; bottom: 20%; left: 50%;
    width: 25%;
}

@media screen and (max-width: 991px) {
    sgv{object-fit: cover;
    overflow: hidden;}
    .footer .footer-inner{flex-flow: column;}
    .footer .footer-inner .footer-top{
        font-size: 12px;
        flex-flow: column;
    }
    .footer .footer-inner .footer-top .footer-social{
        margin-left: 0;
        margin-top: 32px;
    }
    .footer .footer-inner .footer-bottom ul{
        flex-flow: column; align-items: flex-start;
        margin-bottom: 0;
        font-size: 10px;
    }
    .footer con .footer-gb-1{
        transform: scale(1.5) translate(30%, -16px);
    }
    .footer .footer-gb .footer-gb-3{
        transform: scale(1.5) translate(30%, -16px);
    }
}