*{margin: 0; padding: 0; box-sizing: border-box;
font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: black; text-align: center;}
img{display: block; width: 100%;}

/*header*/

header{
    display: flex;
    justify-content: space-between; align-items: center;
    position: fixed; top: 0; left: 0;
    z-index: 1;
}

.header{
    padding: 32px 64px 16px;
    overflow-y: hidden;
    transition: 0.3s ease;
}

.menu-list{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 16px 0;
}
.head.middle .menu-list{
    height: 0;
}
.head.middle .depth-01{
    margin: 0 24px; 
    text-align: center;
    position: relative;
    text-align: center; font-size: 18px;
}

.head.middle .menu-item.depth-01>ul{
    width: max-content;
    transform: translateX(-50%);
    transition: 1s ease; 
    position: absolute; top: 16px; left: 50%;
    padding: 24px 0;
    opacity: 0;
}
.head.middle .menu-item.depth-01:hover>ul{
    opacity: 1;
}
.middle .depth-01 .depth-02 a>span{
    margin: 20px 0; 
    font-size: 12px;
}

.head.right .menu-list span{color: #e5e7eb;}
.head.right .login:hover .login-btn>span,
.head.right .cart:hover>.cart-btn>span{color:black}

/*header-media*/
.header-slide{display: none;}
.header-slide .inner{
    display: table;
    position: relative; min-height: 30px; width: 100%;
    z-index: 999;
    position: fixed; top: 0; left: 0;
}
.header-slide .inner .col_group{
    padding: 20px 0;
    display: table-cell;
}
.header-slide .inner .slide_menu{width: 121px;}
.header-slide .inner .slide_menu i{

}
.header-slide .inner .slide_logo{}
.header-slide .inner .slide_logo a{}
.header-slide .inner .slide_cart{width: 111px;}

@media screen and (max-width: 1280px) {
    .header{display: none;}
    .header-slide{display: block;}
}


/*main*/
main{padding: 130px 20px; position: relative;}
main .body-bg .tms-bg{
    position: fixed; top: 0; left: 0; z-index: -1;
    width: 100%; height: 100%;
}
main .body-bg .tms-bg svg{
    position: absolute;
}

.tms-bg1{right: 5%; top: 50%;}
.tms-bg2{left: 10%; top: 50%;}
.tms-bg3{left: 20%; top: 100%;}
.tms-bg4{right: 20%; top: 100%;}
.tms-bg5{left: 30%; top: 100%;}

/*visual*/
.visual .container .row .img_link{width: 100%;}
.visual .container .row img{width: 100%; border-radius: 5px;}


/*section common*/
.title_wrap .title{text-align: center; font-size: 48px;}
.container .content_wrap .item-container{width: calc(100% / 5);}

.item-container .img_wrap{
    display: block;
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-container .info{
    width: 100%;
    padding: 5px;
    text-align: center; font-size: 18px;
}
.row .item-container .info .price{color: #ffa2cb;}

/*section-Online_Shop*/

.Online_Shop .item-container .info .item_info{
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Online_Shop .item-container .img-link {display: block;}
.Online_Shop .item-container .img-wrap {position: relative;}
.Online_Shop .item-container .img-wrap .hover-img{
    border-radius: 5px;
    position: absolute; top: 0; left: 0;
    display: none; opacity: 0;
}
.Online_Shop .img-wrap:hover .basic-img {
    opacity: 0;
}
.Online_Shop .img-wrap:hover .hover-img {
    opacity: 1;
    display: block;
}
.Online_Shop .item-container .info{margin-top: 10px;}

.to-cart{
    padding: 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ebebeb;
    background-color: #fdfaf7;
    display: block; width: 100%; text-align: center;
}


/*Event*/

.Event .row .card-wrap .card-link {display: block;}
.Event .row .card-wrap .card {
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

/*Instagram*/

.Instagram .container{}
.Instagram .content_wrap{}
.Instagram .content_wrap .star_img{
    position: relative; padding: 6px;
}
.Instagram .content_wrap .star_img a .img_wrap{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 180px;
    border-radius: 5px;
}


.Instagram .follow a{
    display: block; 
    width: 100%;
    margin-top: 40px;
}
.Instagram .follow a span{
    display: inline-block;
    width: auto; height: auto;
    text-align: center; font-size: 16px;
    border: #e5e7eb 1px solid; border-radius: 20px;
    padding: 8px 24px;
    margin-bottom: 10px;
}
.Instagram .follow a:hover span{
    background-color: #ffeea4;
}

/*footer*/
.footer .container .kakao_add .title{
    font-size: 48px; line-height: 1.5em;
}
.footer .container .kakao_add p{
    margin: 64px 0 32px;
    font-size: 20px; text-align: center;
    line-height: 1.2em;
}
.footer .container .kakao_add .button a{
    display: block; width: 100%;
}
.footer .container .kakao_add .button span{
    display: inline-block;
    width: auto; height: auto;
    text-align: center; font-size: 16px;
    background-color: #ffeea4;
    border: #e5e7eb 1px solid; border-radius: 20px;
    padding: 8px 24px;
    margin-bottom: 10px;
}

.footer {
    background-color: #bee1f0;
    border-radius: 64px 64px 0 0;
}
.footer .con{position: relative;}
.footer .con .footer-gb1{
    position: absolute; top: 5%; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}
.tms-footer-bg1 svg {
    min-height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.kakao_add{
    padding: 100px 0;
    position: relative;
    text-align: center; 
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;
}
.kakao_add h2{
    font-size: 48px; font-weight: 600;
    line-height: 1.6em;
    margin: 0; 
}
.kakao_add p{
    display: block; 
    margin-top: 64px; 
    margin-bottom: 32px;
    line-height: 1.6em; font-size: 20px;
}
.kakao_add .button{
    background-color: #ffec9f;
    font-size: 20px; line-height: 1em; font-weight: 600;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
}

.footer .con .footer-top{position: relative;}
.footer .con .footer-top ul{margin-top: 24px;}
.footer .con .footer-top .footer-social{position: relative; z-index: 2;}
.footer .con .footer-top .footer-social a img{
    margin-right: 8px; width: 16px; height: 16px;
}

.footer .con .footer-bottom {position: relative;}


.fooer-gb{width: 100%; position: relative;}
.fooer-gb2{width: 100%; position: relative;}
.footer-gb-3{
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 25%;
}