.productList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    gap: 24px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
}