<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="inner container-fulid">
        <div class="title">
            <h1>멤버들 소개 페이지!</h1>
        </div>
    <div class="row">
        <table border="1">
        <% for(let i of person) { %>
        <tr>
            <td>이메일 : <%= i.email %> </td>
            <td>성별 : <%= i.gender %></td>
        </tr>
        <%} %>
        
        </table>
    </div>  
    </div>  
</body>
</html>