*{margin: 0; padding: 0; box-sizing: border-box;}
.content{width: 100%; padding: 120px 0;}
.inner{width: 1170px; margin: 0 auto;}
.content .title{margin: 0 0 40px; text-align: center;}
.content .wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}

.member .box{
  width: 370px;margin: 0 0 30px; padding: 30px;
  border: 5px solid #eee; transition: 0.3s;
  border-radius: 10px;
}
.member .box p{margin: 0 0 5px;}

.member .box:hover{ box-shadow: 0 0 20px #ddd; border-color: transparent;}