@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Pretendard-Regular';}
a{text-decoration: none;}
ul, li, ol{list-style: none;}
img{display: block; width: 100%;}

.max-w-100{max-width: 100%;}
.d-block{display: block;}
.js{justify-content: space-between;}
.al{align-items: center;}