main{display: flex; justify-content: center; align-items: center;}
ul, li, ol{list-style: none;}
a{text-decoration: none; color: black;}
fieldset{width: auto; padding: 5px 40px;}

/*common*/


/*header*/
.header.inner{
    display: flex; justify-content: center; 
}

/*main*/

/*footer*/
