@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Pretendard-Regular'}
a{text-decoration: none;}
ul, ol, li{list-style: none;}
img{display: block;}

.sec{background-color: black;}
.sec .container{max-width: 100%;}
.sec .container > .title{text-align: center; font-size: 60px; font-weight: 600; color: red;}
.sec .container .row{}
.sec .container .row .col{}
.sec .container .row .col .inner{background-color: aliceblue; }
.sec .container .row .col .inner .id{}
.sec .container .row .col .inner .id p{}
.sec .container .row .col .inner .title{}
.sec .container .row .col .inner .title p{text-align: center; font-size: 60px; font-weight: 600;}
.sec .container .row .col .inner .img{padding: 20px; height: 300px;}
.sec .container .row .col .inner .img img{width: auto; height: 100%; object-fit: contain; }
.sec .container .row .col .inner .content{width: auto; padding: 10px 20px;}
.sec .container .row .col .inner .content p{display: inline-block; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.sec .container .row .col .rating{}
.sec .container .row .col .rating p{padding: 10px 20px;}
.sec .container .row .col .date{}
.sec .container .row .col .date p{padding: 10px 20px;}