*{margin: 0; padding: 0; box-sizing: border-box;}


.container, .title-wrap{
    width: 100%; margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
}
    
.wrap{
    display: flex;
    flex-flow: wrap row;
}

.wrap .box{
    transition: 0.3s;
    width: 25%; margin: 0 30px; padding: 20px;
    border: 10px solid #eee;
    border-radius: 10px;
    text-align: center;
}

.wrap .box .img_box{width: 100%;}
.wrap .box img{width: 100%;}

.wrap .box p{margin: 0 0 5px;}
.wrap .box .name{font: bold 16px 'inherit'; margin: 0 0 5px;}
.wrap .box .icon{
    padding: 0 10px; margin-left: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
}
.wrap .box .hashtag{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.wrap .box .hashtag span{padding: 5px; font-size: 13px;}


.wrap .box .new {content: 'New'; background-color: yellow;}

.wrap .box .best {content: 'Best'; background-color: tomato;}

.wrap .box span{background-color: #ddd;}

.wrap .box:hover{ box-shadow: 0 0 20px #ddd; border-color: transparent;}